Team10/Web Development Navjot/web/data/menuroot.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Sun Dec 07 2014 12:14:41 GMT+0000 (GMT Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="menuroot">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="b:breakfast-menu">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="b:breakfast-item" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="b:name" type="xs:string"></xs:element>
                                                               <xs:element name="b:calories" type="xs:int"></xs:element>
                                                               <xs:element name="b:carbohydrates" type="xs:double"></xs:element>
                                                               <xs:element name="b:fiber" type="xs:double"></xs:element>
                                                               <xs:element name="b:option">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="b:portion" maxOccurs="unbounded" type="xs:string">
                                                                                       <xs:complexType>
                                                                                             <xs:attribute name="no" type="xs:int"></xs:attribute>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="b:image" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                         <xs:attribute name="category" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="l:lunch-menu">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="l:lunch-item" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="l:name" type="xs:string"></xs:element>
                                                               <xs:element name="l:calories" type="xs:int"></xs:element>
                                                               <xs:element name="l:carbohydrates" type="xs:int"></xs:element>
                                                               <xs:element name="l:fiber" type="xs:int"></xs:element>
                                                               <xs:element name="l:option">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="l:portion" maxOccurs="unbounded" type="xs:string">
                                                                                       <xs:complexType>
                                                                                             <xs:attribute name="no" type="xs:int"></xs:attribute>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="l:image" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                         <xs:attribute name="category" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="d:dinner-menu">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="d:dinner-item" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="d:name" type="xs:string"></xs:element>
                                                               <xs:element name="d:calories" type="xs:int"></xs:element>
                                                               <xs:element name="d:carbohydrates" type="xs:double"></xs:element>
                                                               <xs:element name="d:fiber" type="xs:double"></xs:element>
                                                               <xs:element name="d:option">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="d:portion" maxOccurs="unbounded" type="xs:string">
                                                                                       <xs:complexType>
                                                                                             <xs:attribute name="no" type="xs:int"></xs:attribute>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="d:image" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                         <xs:attribute name="category" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
                     <xs:attribute name="xmlns:b" type="xs:string"></xs:attribute>
                     <xs:attribute name="xmlns:l" type="xs:string"></xs:attribute>
                     <xs:attribute name="xmlns:d" type="xs:string"></xs:attribute>
               </xs:complexType>
         </xs:element>
   </xs:schema>
 